/* See CSS - Floating two elements side by side
   http://stackoverflow.com/questions/7168442/css-floating-two-elements-side-by-side
*/

#text-comparison pre.src-scheme
{
/*  border:2px solid blue; */
  margin-right: 40%;
  padding-right: 5%;
}

#text-comparison pre.src-js
{
  float:right;
/*  border:2px solid blue; */
  margin-right: 10%;
  margin-top: 0;
  padding-left: 5%;

}
