.tdl .ex{
	display: inline-block;
	margin-left: 20%;
	overflow: auto;
	xwidth: 50%;
}

.reveal pre code {
	max-height: none !important;
	font-size: 65% !important; 
}
	

.multicol {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	margin-left: 20%;
}
